.NewQuote{
    background-color:blue;
    padding: 30px 90px;
    color:white;
    font-size: 14px;
}
.NewQuote:hover{
background-color:green;
}

#h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}